# ignore everything
*

# whitelist top level directories
!/*

# global whitelisting
!**/.gitignore
!**/docker-compose.yaml
!**/README.md

# specific whitelisting

!bitcoin/bitcoin.conf

!fail2ban/data/
!fail2ban/data/filter.d/
!fail2ban/data/filter.d/*
!fail2ban/data/jail.d/
!fail2ban/data/jail.d/jail.conf

!grafana/provisioning/
!grafana/provisioning/**

!homer/assets/config.yaml

!monero/bitmonero.conf

!prometheus/config/
!prometheus/config/*

!tick/telegraf/
!tick/telegraf/*

!traefik/authelia/configuration.yml

!traefik/dynamic/
!traefik/dynamic/*
